{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- main-content -->
<div class="main-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="panel mb-g">
                <div class="panel-heading">                                                         
                    <h3>All Menu</h3>
                </div>
                <div class="panel-body">
                    <div class="ecommerce-table">
                        <div class="table-top-control mb-g">
                            <div class="row g-lg-4 g-md-3 g-sm-2 g-3">
                                <center>
                                    <div class="col-sm-6" id="tableRowConut"></div>
                                </center>

                                <div class="col-sm-4" id="tableSearch" hidden></div>
                            </div>
                        </div>
                        <table id="myTable" class="table data-table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Main Menu Name</th>
                                    <th scope="col">Main Menu Url</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vm in viewmenu %}
                                <tr>
                                    <td>{{vm.id}}</td>
                                    <td>{{vm.menuname}}</td>
                                    <td>{{vm.menuurl}}</td>
                                    <td>
                                        <div class="btn-box">
                                            <button class=""><a href="/update_main_menu/{{ vm.id }}" class="text-white btn btn-sm btn-success"><i class="bi bi-pencil-square"></a></i></button>
                                            <button class=""><a href="/delete_main_menu/{{ vm.id }}" class="text-white btn btn-sm btn-danger"><i class="bi bi-trash"></a></i></button>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                        <div class="table-bottom-control"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-content -->
{% endblock %}