{% extends "base.html" %} {% load static %} {% block content %}

        <!-- main-content -->
        <div class="main-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="panel mb-g">
                        <div class="panel-heading">
                            <h3>Add About Page Section 2</h3>
                        </div>
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="panel-body">
                                <form class="add-product">
                                    <div class="row g-lg-4 g-2 align-items-center">
                                        <div class="col-sm-4">
                                            <label for="AddProduct"> Image 1:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="file" id="AddProduct" name="{{ as2.as2image1.name }}" value="{{ as2.initial.as2image }}" class="form-control form-control-lg" accept=".jpg,.jpeg,.png,.mp3,.mov,.mp4" required multiple>Image Path : {{ as2.initial.as2image1 }}
                                        </div>
                                        
                                        <div class="col-sm-4">
                                            <label for="AddProduct">Image 2 :</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="file" id="AddProduct" name="{{ as2.as2image2.name }}" value="{{ as2.initial.as2image }}" class="form-control form-control-lg" accept=".jpg,.jpeg,.png" required multiple>Image Path : {{ as2.initial.as2image2 }}
                                        </div>
                                  

                                        <div class="col-sm-4">
                                            <label for="ProductName"> Title :</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" id="ProductName" name="{{ as2.as2title.name }}" value="{{ as2.initial.as2title }}" class="form-control form-control-lg" required>
                                        </div>
                                    
                                        <div class="col-sm-4">
                                            <label for="ProductDscr"> Description :</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <textarea name="{{ as2.as2desc.name }}" value="{{ as2.initial.as2desc }}" id="ProductDscr" rows="5" class="form-control form-control-lg" required>{{ as2.initial.as2desc }}</textarea>
                                        </div>
                                        
                                         
                                        <!-- <div class="col-sm-4">
                                            <label for="Discount">Discount :</label>
                                        </div> -->
                                         <!-- <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-text">%</span>
                                                <input type="number" id="Discount" name="Discount" class="form-control form-control-lg" max="100">
                                            </div>
                                        </div> -->
                                        <div class="col-12">
                                            <div class="btn-box justify-content-end">
                                                <input type="reset" class="btn btn-secondary" value="Reset">
                                                <input type="submit" value="Add" class="btn btn-primary">
                                            </div>
                                        </div> 
                                    </div>
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content -->
        {% endblock %}