{% extends "base.html" %} {% load static %} {% block content %}

        <!-- main-content -->
        <div class="main-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="panel mb-g">
                        <div class="panel-heading">
                            <h3>View About Page Section 2</h3>
                        </div>
                        <div class="panel-body">
                            <div class="ecommerce-table">
                                <div class="table-top-control mb-g">
                                    <center><div class="col-sm-6" id="tableRowConut" ></div></center>
                                    <div class="col-sm-6" id="tableSearch" hidden></div>
                                </div>
                                <table id="myTable" class="table data-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Image 1</th>
                                            <th scope="col">Image 2</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Description</th>
                                            
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for as2 in about_sec2 %} 
                                        <tr>
                                            <td>{{as2.id}}</td>
                                            <td><img src="{{as2.as2image1.url}}" alt="{{ as2.as2image1 }}"> </td>
                                            <td><img src="{{as2.as2image2.url}}" alt="{{ as2.as2image2 }}"> </td>
                                            <td>{{as2.as2title}}</td>
                                            <td>{{as2.as2desc}}</td>
                                            
                                            <td>
                                                <div class="btn-box">
                                                    <a href="/update_about_sec2/{{ as2.id }}" class="text-white btn btn-sm btn-success"><i class="bi bi-pencil-square"></a></i></button>
                                                  <a href="/delete_about_sec2/{{ as2.id }}" class="text-white btn btn-sm btn-danger"><i class="bi bi-trash"></a></i></button>
                                                        
                                                </div>
                                            </td>
                                        </tr>
                                       {% endfor %}
                                        
                                        
                                    </tbody>
                                </table>
                                <div class="table-bottom-control"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content -->
        {% endblock %}