{% extends "base.html" %} {% load static %} {% block content %}

        <!-- main-content -->
        <div class="main-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="panel mb-g">
                        <div class="panel-heading">
                            <h3>Add Cart Page Header</h3>
                        </div>
                        <form class="add-product" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="panel-body">
                               
                                    <div class="row g-lg-4 g-2 align-items-center">
                                        <div class="col-sm-4">
                                            <label for="AddProduct"> Image :</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="file" id="AddProduct" name="{{ cart_himg.cart_header_img.name }}" value="{{ cart_himg.initial.cart_header_img }}" class="form-control form-control-lg" accept=".jpg,.jpeg,.png,.mp3,.mov,.mp4" required multiple>Image Path : {{ cart_himg.initial.cart_header_img }}
                                        </div>
                    
                                        <div class="col-sm-4">
                                            <label for="ProductName">Text :</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" id="ProductName" name="{{ cart_himg.cart_header_imgname.name }}" value="{{ cart_himg.initial.cart_header_imgname }}" class="form-control form-control-lg">
                                        </div>
                                    
                                        
                                       
                                        <div class="col-12">
                                            <div class="btn-box justify-content-end">
                                                <input type="reset" class="btn btn-secondary" value="Reset">
                                                <input type="submit" value="Add" class="btn btn-primary">
                                            </div>
                                        </div> 
                                    </div>
                               
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content -->
{% endblock %}