
{% extends "base.html" %} {% load static %} {% block content %}

        <!-- main-content -->
        <div class="main-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="panel mb-g">
                        <div class="panel-heading">
                            <h3>View Cart Page Header</h3>
                        </div>
                        <div class="panel-body">
                            <div class="ecommerce-table">
                                <div class="table-top-control mb-g">
                                    <center><div class="col-sm-6" id="tableRowConut" ></div></center>
                                    <div class="col-sm-6" id="tableSearch" hidden></div>
                                </div>
                                <table id="myTable" class="table data-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Text</th>
                                            
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for cart_himage in cart_header_img %} 
                                        <tr>
                                            <td>{{cart_himage.id}}</td>
                                            <td>
                                                <img src="{{cart_himage.cart_header_img.url}}" alt="{{ cart_himage.cart_header_img }}">
                                                
                                            </td>
                                            <td>{{cart_himage.cart_header_imgname}}</td>
                                            
                                            <td>
                                                <div class="btn-box">
                                                    <a href="/update_cart_header_img/{{ cart_himage.id }}" class="text-white btn btn-sm btn-success"><i class="bi bi-pencil-square"></a></i>
                                                    <a href="/delete_cart_header_img/{{ cart_himage.id }}" class="text-white btn btn-sm btn-danger"><i class="bi bi-trash"></a></i>
                                                        
                                                </div>
                                            </td>
                                        </tr>
                                       {% endfor %}
                                        
                                        
                                    </tbody>
                                </table>
                                <div class="table-bottom-control"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content -->
        {% endblock %}